.page--planner {
  display: flex;
  flex-direction: column;
}

.planner__input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.planner__swap {
  margin-left: 2rem;
  color: #fff;
}

.planner__input-fields {
  flex: 1;
}
.planner__input {
  position: relative;
}
.planner__input input {
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  text-indent: 1rem;
  border: 6px solid #000000;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  outline: none;
  &:focus {
    border-color: #5089b2;
  }
}
.planner__starting-result-list {
  position: absolute;
  top: 4rem;
  z-index: 1;
  background: #fff;
  left: 6px;
  color: #000;
  padding: 0 1rem;
  border: 1px solid transparent;
  border-radius: 0 0 0.2rem 0.2rem;
  width: 80%;
  box-shadow: 0 10px 10px rgba(0,0,0,0.3);
}
.planner-result-list__item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.planner-result-list__item:last-of-type {
  border-bottom: none;
}

.planner__search-button {
  box-shadow: 0 10px 10px rgba(0,0,0,0.5);
  background: #3b6eac;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  &:active {
    background: #558dd7;
  }
}


.page--planner {
  display: flex;
  flex-direction: column;
}

.planner__heading {
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.planner__input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.planner__input-fields {
  flex: 1;
}
.planner__input {
  position: relative;
}
.planner__input input {
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  text-indent: 1rem;
  border: 6px solid #000000;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  outline: none;
  &:focus {
    border-color: #5089b2;
  }
}
.planner__starting-result-list {
  position: absolute;
  top: 4rem;
  z-index: 1;
  background: #fff;
  left: 6px;
  color: #000;
  padding: 0 1rem;
  border: 1px solid transparent;
  border-radius: 0 0 0.2rem 0.2rem;
  width: 80%;
  box-shadow: 0 10px 10px rgba(0,0,0,0.3);
}
.planner-result-list__item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.planner-result-list__item:last-of-type {
  border-bottom: none;
}

.live-departures__message-container {
  background: #fff8cc;
  border: 2px solid #ffdd02;
  padding: 1rem;
  font-size: 1rem;
}

.live-departures__list {
  padding: 1rem;
  background: #fff;
}
.movement-info {
  height: 64px;
  background-color: #fff;
  width: 100%;
  display: flex;
}
.movement-info-icon {
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 40px;
  max-width: 22px;
  fill: #2c384d;
}
.movement-info-img-container-train {
  height: 37px;
}
.movement-info-img-container {
  width: 28px;
  height: 30px;
  margin-left: 15px;
  margin-top: 13px;
  margin-bottom: 15px;
  position: relative;
}
.movement-info-icon-live, .movement-info-icon-cancelled {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 0;
  right: 0;
}
.movement-info-icon-train {
  max-width: 18px;
}
.movement-info-description-container {
  margin-left: 10px;
}
.movement-info-description {
  display: block;
  text-align: left;
}
.movement-info-route-short-name {
  font-size: 2rem;
  text-align: left;
  font-weight: bold;
  vertical-align: middle;
}
.movement-info-platform {
  text-align: left;
  margin-left: 10px;
  background-color: #2c384c;
  color: #fff;
  font-size: .85714rem;
  line-height: 1.7rem;
  font-weight: bold;
  display: inline-block;
  padding: 0 .5rem;
  border-radius: 3px;
  position: relative;
  top: -2px;
}
.movement-info-description-destination {
  font-size: 1rem;
  display: block;
  text-align: left;
  line-height: 0.8rem;
}
.movement-info-realtime-info-container {
  margin-right: 10px;
  position: absolute;
  right: 0;
  width: 140px;
  height: 64px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.movement-info-time-stop-container {
  display: flex;
  justify-content: left;
  align-items: baseline;
  font-size: 1rem;
}
.movement-info-arrival,
.movement-info-due-time {
  line-height: 24px;
  font-weight: bold;
  margin-right: 5px;
  font-size: 2rem;
}